
$theWidth: 75%;
$theHeight: 50%;
 $theFont:'Moirai One', cursive;


.messageList{
    border-style: groove;
    border-radius:25px;
    width: $theWidth;
    margin: auto;
    font-size: large;
    padding-bottom: 5px;
}
.textOut{
    width: $theWidth;
}
.allAround{
    width:$theWidth;
    height: 600px;
    margin: auto;
} 
.headText{
    font-family: $theFont;
}